accelerate==0.20.3
chromadb==0.4.8
faiss-cpu==1.7.4
langchain==0.0.173
# mkl # for windows or intel based systems
# mkl-include # for windows or intel based systems
pdf2image==1.16.3
pypdf==3.9.0
pytesseract==0.3.10
sentence_transformers==2.2.2
tabulate==0.9.0
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
transformers @ git+https://github.com/huggingface/transformers
unstructured==0.6.8